<div class="container mt-4">
  <h1 class="text-center mb-4">Dashboard</h1>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe utilizar la estructura Angular 17 provista por el profesor en las clases técnicas
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe consumir por medio de HTTP los métodos del API generado en la tarea 1 técnica CRUD back-end
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Deben existir dos tipos de roles para usuarios: SUPER-ADMIN-ROLE y USER (provenientes de la tarea 1 CRUD back-end)
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe crear una página para administrar los productos y otra para administrar las categorías donde se listen todos los datos de las entidades
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe crear un componente para registrar nuevos productos y categorías, también debe reutilizar ese componente para actualizar ambas entidades
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe existir un inicio de sesión y un registro de usuarios
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Deben registrarse los datos en una base de datos MySQL o MariaDB de forma local, no cloud.
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe crear la funcionalidad para eliminar productos y categorías
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      La consulta de productos y categorías será permitida para todos los usuarios si están autenticados
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      El registro, actualización y borrado de productos y categorías únicamente podrá realizarlo el usuario con rol SUPER-ADMIN-ROLE
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Debe existir una página y un componente para mostrar los usuarios registrados en el sistema, solo el SUPER-ADMIN-ROLE podrá ingresar a ese componente.
      <span class="badge bg-success"><i class="fas fa-check"></i></span>
    </li>
  </ul>
</div>
